:root {
    /* colors */
    --col-1: #8eadd4;
    --col-2: #adb2f5;
    --col-3: #7377b3;
    --col-4: #48496f;
    --col-5: #02001f;

    /* tints */
    --tint-dark-low: rgba(0, 0, 0, .25);
    --tint-dark-med: rgba(0, 0, 0, .5);
    --tint-dark-high: rgba(0, 0, 0, .75);

    --tint-light-xlow: rgba(255, 255, 255, .15);
    --tint-light-low: rgba(255, 255, 255, .25);
    --tint-light-med: rgba(255, 255, 255, .5);

    /* sizes */
    --header-height: 3rem;
    --footer-height: 2rem;
    --default-border-radius: 5px;
    --default-box-shadow: 1px 1px 1px 1px;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--col-5);
    color: var(--col-1)
}

body {
    display: grid;
    grid-template-rows: var(--header-height) minmax(6rem, 1fr) var(--footer-height);
    position: relative;
}

header,
footer {
    background-color: var(--col-4);
    width: 100%;
    height: 100%;
}

/* header{ height: var(--header-height);}
footer{height: var(--footer-height);} */

content {
    position:relative;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display:none;
}
#gamespace{
    width:95%;
    height:95%;
    background-color:var(--tint-light-xlow);
    display:grid;
    gap:1rem;
    grid-template-areas:    ".. .. ts ts ts .. .."
                            "ls ls ls .. rs rs rs"
                            "ls ls ls .. rs rs rs"
                            "ls ls ls .. rs rs rs"
}
section{
    background-color:var(--tint-light-xlow);
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#top-section{
    grid-area: ts;
}
#left-section{
    grid-area: ls;
}
#right-section{
    grid-area: rs;
}
.aspect-ratio-container{
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    overflow:none;
}
gameboard{
    background-color: red;
}
